
name: GHAction example

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  ci_step:
    name: Build, scan, and push Docker image
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Generate Docker Metadata
        id: meta-dockerhub
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/example
          flavor: latest=false
          tags: |
            type=sha,priority=100,prefix=sha-,format=short
            type=semver,priority=200,pattern={{version}}
            
      - name: Initialize QEMU
        uses: docker/setup-qemu-action@v3

      - name: Configure Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Authenticate DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image to DockerHub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/example:cache
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/example:cache
          tags: ${{ steps.meta-dockerhub.outputs.tags }}
      
      - name: Perform Vulnerability Scan
        uses: docker/scout-action@v1
        with:
          command: cves
          image: ${{ steps.meta-dockerhub.outputs.tags }}
          sarif-file: sarif.output.json
          summary: true

      - name: Check for Critical Vulnerabilities
        id: check-critical
        run: |
          vulnerabilities=$(jq '[.runs[].results[].level] | {"critical": (map(select(. == "error")) | length), "high": (map(select(. == "warning")) | length)}' sarif.output.json)
          critical_count=$(echo "$vulnerabilities" | jq '.critical')
          high_count=$(echo "$vulnerabilities" | jq '.high')
          
          if [ "$critical_count" -gt 0 ] || [ "$high_count" -gt 0 ]; then
            echo "Detected $critical_count critical and $high_count high vulnerabilities."
            exit 1
          else
            echo "No critical or high vulnerabilities found."
          fi

      - name: Authenticate to GHCR
        if: ${{ steps.check-critical.outcome == 'success' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN_GITHUB }}

      - name: Build and Push Docker Image to GHCR
        if: ${{ steps.check-critical.outcome == 'success' }}
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/example:cache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/example:cache
          tags: type=registry,ref=ghcr.io/${{ github.repository_owner }}/example:latest

